
@import url('https://fonts.google.com/?query=lato&preview.text_type=custom&selection.family=Lato:ital,wght@0,400;1,300;1,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: 0 none;
}

body {
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    line-height: 1.25em;
    font-size: 3em;
    color: #004581;
    text-align: left;
    font-weight: bold;
    margin-bottom: 30px;
    width: 100%;
}

h2 {
    line-height: 45px;
    font-size: 2.5em;
    color: #004581;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 2.3em;
    text-align: left;
}

h4 {
    font-size: 2em;
    text-align: center;
}

h5 {
    font-size: 1.3em;
    color: #004581;
    margin: 2vw 0;
}

h6 {
    font-size: 1.2em;
    text-align: left;
}

p,
li {
    font-size: 1.06em;
    color: rgb(85, 85, 85);
    line-height: 27px;
    text-align: center;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.06em;
    line-height: 27px;
    text-align: center;
}

.disable {
    display: none;
}


/*----------------------------- nav bar -----------------------------*/


/*https://itnext.io/how-to-create-a-responsive-navigation-bar-with-html-css-and-jquery-step-by-step-tutorial-9c780b58479f*/

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    height: 8vh;
    width: 100%;
    background: #f3f2f2;
    margin: 10px 0;
}

.logofigure {
    margin: 0 3vw;
}

.logofigure img {
    width: auto;
    height: 5vh;
    margin-top: 2%;
}

.arrowfigure {
    margin: 0px -1px 0px 0px;
}

.arrowfigure img {
    height: 5vh;
}

.header {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
}

.items-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 3%;

}
nav ul {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 0;
}

nav li {
    list-style-type: none;
    margin: 0 10px;
    line-height: 18px;
}

nav a {
    color: #004581;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.44em;
}

nav img {
    height: 8vh;
    margin: 0;
    top: 0;
}


.active {
    color: #e7d4f9;
}

.lang-imige-mobile {
    display: none;
}

.ham {
    display: none;
}



/*----------------------------- ABOUT -----------------------------*/

.row {
    display: flex;
    padding: 0;
    margin: 0 10vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.about {
    padding: 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.about-article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: -5px;
    padding: 0 15%;
    width: 100%;
}

.about-article p {
    font-size: 1.3em;
}

.aboutfigure img {
    z-index: -1;
    width: 100vw;
}

.about-button{
    background-color: #2bb9ab;
    width: 260px;
    height: 43px;
    display: block;
    color: white;
    font-weight: bold;
    padding: 5px 0px;
    border-radius: 12px;
    margin-top: 40px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 12vh;
    margin-top: 15px;
}

.contact-p {
    font-size: larger;
    font-weight: bold;
}

.email, .socialmedia {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
    justify-content: center;
}

.email address {
    margin-left: 5px;
}

.social-media-link {
    margin-left: 5px;
}

.medialinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/*----------------------------- CONFERENCE -----------------------------*/
.conferences {
    height: 90%;
    border-top: 4px solid #004581;
}

.conferences-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 50px 10%;
}

.conferences-article {
    padding-right: 3%;
}

.conferences-img {
    width: 200px;
}

.conferences-row p {
    font-size: 1.06em;
    text-align: left;
}

/*----------------------------- CONFERENCE MAIN PAGE-----------------------------*/

.subpage-footer {
    width: 100%;
    border-top: 1px solid #004581;
    margin-left: 0;
    background-color: #004581;
}


.subpage-footer p,a {
    color: #2bb9ab;
    justify-content: left;
}

.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.main-banner button {
    background-color: #FF66C4;
    width: 10rem;
    height: 3rem;
    border-radius: 20px;
    margin-top: 25px;
    font-size: 1rem;
    color: #f3f2f2;
}

.main-banner button:hover {
    background-color: #FF66C4; 
    color: #4a89aa;
}

.conference-banner {
    width: 389px;
}